//<МИКСИНЫ>===============================================================================================================================================================
// @import "_mixins";
//</МИКСИНЫ>==============================================================================================================================================================

//<ШРИФТЫ>===============================================================================================================================================================

//<Подключаем шрифты>===============================================================================================================================================================
  //&display=swap&subset&cyrillic-ext - для кириллицы
  // @import '_fonts';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap&subset&cyrillic-ext');
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset&cyrillic-ext");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap');
//</Подключаем шрифты>==============================================================================================================================================================

//<Иконочные шрифты>===============================================================================================================================================================
// @import "_icons";
//</Иконочные шрифты>==============================================================================================================================================================

//<Шрифт по умолчанию>===============================================================================================================================================================
$fontFamily: "Montserrat";
//</Шрифт по умолчанию>==============================================================================================================================================================

//</ШРИФТЫ>==============================================================================================================================================================

//<ПЕРЕМЕННЫЕ>===============================================================================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1344;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

:root {
  --maincolor: #202325;
  --secondarycolor: #606466;
  --accentcolor: #FFC87A;
  // --accentTwocolor: #FFA500;
  --outlinecolor: #DDE3E5;
  --lightcolor: #fff;
  --darkcolor: #3D4F64;
  --linear: linear-gradient(96.71deg, #FFBB3E 1.86%, #FF870F 118.91%);
  --linear-bg: linear-gradient(180deg, #0FC5FF 0%, #0FC5FF 0.01%, #0F7CFF 100%);
}
$main: var(--maincolor);
$second: var(--secondarycolor);
$accent: var(--accentcolor);
$accentTwo: var(--accentTwocolor);
$outline: var(--outlinecolor);
$menuColor: var(--menucolor);
$light: var(--lightcolor);
$dark: var(--darkcolor);
$linear: var(--linear);
$linearBg: var(--linear-bg);
//</ПЕРЕМЕННЫЕ>==============================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================================================================
@import '_reset';
html {
  scroll-behavior: smooth; // делает плавные переходы по якорям
}
body {
  color: $main;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================================================================

//<ОБОЛОЧКА>===============================================================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  position: relative;
}
//</ОБОЛОЧКА>==============================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>===============================================================================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
}

//<ОБЩИЕ СТИЛИ>==================================================================================
section {
  padding: 96px 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 36px 0 0 0;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: $main;
  padding: 20px 42px;
  border-radius: 60px;
  background: $linear;
  transition: .2s;

  &:hover {
    background: linear-gradient(96.71deg, #FFCC70 1.86%, #FFA142 118.91%);
  }
}

.btn-outline {
  font-size: 16px;
  font-weight: 700;
  color: $main;
  padding: 20px 42px;
  border: 2px solid $accent;
  border-radius: 60px;
  transition: .2s;

  &:hover {
    background: linear-gradient(96.71deg, #FFCC70 1.86%, #FFA142 118.91%);
  }
}

input,
textarea {
  font-weight: 400;
  color: $second;
  background: #F7FBFD;
  border-radius: 8px;
  padding: 15px 18px;
}

@import 'blocks/_header';
@import 'blocks/_scooters';
@import 'blocks/_price';
@import 'blocks/_renta';
@import 'blocks/_map';
@import 'blocks/_footer';


