//<ШРИФТЫ>===============================================================================================================================================================

//<Подключаем шрифты>===============================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap');
//</Подключаем шрифты>==============================================================================================================================================================

//<Шрифт по умолчанию>===============================================================================================================================================================
$fontFamily: "Montserrat";
//</Шрифт по умолчанию>==============================================================================================================================================================

//</ШРИФТЫ>==============================================================================================================================================================

//<ПЕРЕМЕННЫЕ>===============================================================================================================================================================
$maxWidthContainer: 1344;
$minHover: 0; // если хочешь убрать hover на телефонах, укажи - 768px

:root {
  --maincolor: #202325;
  --secondarycolor: #606466;
  --accentcolor: #FFC87A;
  --outlinecolor: #DDE3E5;
  --linear: linear-gradient(96.71deg, #FFBB3E 1.86%, #FF870F 118.91%);
  --linear-bg: linear-gradient(180deg, #0FC5FF 0%, #0FC5FF 0.01%, #0F7CFF 100%);
}
$main: var(--maincolor);
$second: var(--secondarycolor);
$accent: var(--accentcolor);
$outline: var(--outlinecolor);
$linear: var(--linear);
$linearBg: var(--linear-bg);
//</ПЕРЕМЕННЫЕ>==============================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================================================================
@import '_reset';

html {
  scroll-behavior: smooth; // делает плавные переходы по якорям
}
body {
  color: $main;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================================================================

//<ОБОЛОЧКА>===============================================================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  position: relative;
}
//</ОБОЛОЧКА>==============================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>===============================================================================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
}

//<ОБЩИЕ СТИЛИ>==================================================================================
section {
  padding: 96px 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 36px 0 0 0;

  @media screen and (max-width: 600px) {
    font-size: 40px;
    margin: 24px 0 0 0;
  }

  @media screen and (max-width: 400px) {
    font-size: 32px;
    margin: 12px 0 0 0;
  }
}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: $main;
  padding: 20px 42px;
  border-radius: 60px;
  background: $linear;
  text-align: center;
  transition: .2s;

  @media screen and (max-width: 1120px) {
    font-size: 14px;
    padding: 16px 32px;
  }

  @media screen and (min-width: $minHover) {
    &:hover {
      transform: translate(0,-4px);
    }
  }

  &:active {
    background: linear-gradient(96.71deg, #FFCC70 1.86%, #FFA142 118.91%);
  }
}

.btn-outline {
  font-size: 16px;
  font-weight: 700;
  color: $main;
  padding: 20px 42px;
  border: 2px solid $accent;
  border-radius: 60px;
  transition: .2s;

  @media screen and (min-width: $minHover) {
    &:hover {
      transform: translate(0,-4px);
    }
  }

  &:active {
    background: linear-gradient(96.71deg, #FFCC70 1.86%, #FFA142 118.91%);
  }
}

input,
textarea {
  font-weight: 400;
  color: $second;
  background: #F7FBFD;
  border-radius: 8px;
  padding: 15px 18px;
}

.arrow-up {
  display: inline-block;
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: rgba(255,255,255,.3);
  border: 1px solid rgb(15, 124, 255);
  border-radius: 4px;
  transform: scale(.9);
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  z-index: 100;
  &._show {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: $minHover) {
    &:hover {
      transform: translate(0,-4px);
    }
  }

  &:active {
    background: rgba(15, 124, 255,.2);
  }
}

@import 'blocks/_header';
@import 'blocks/_scooters';
@import 'blocks/_price';
@import 'blocks/_rent';
@import 'blocks/_map';
@import 'blocks/_footer';
@import 'blocks/_modal';


