.header-content {
  width: 100%;
}

.header-content__body {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 4;

  @media screen and (max-width: 860px) {
    flex-direction: column-reverse;
  }
}

.header-content__info {
  max-width: 590px;
  width: 100%;
  color: #fff;

  @media screen and (max-width: 860px) {
    margin: 32px 0 0 0;
  }
}

.header-content-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;

  @media screen and (max-width: 1250px) {
    font-size: 50px;
  }
  
  @media screen and (max-width: 1000px) {
    font-size: 40px;
  }

  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
}

.header-content-text {
  margin: 24px 0 0 0;
  line-height: 160%;
}

.header-content__rent {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;

  @media screen and (max-width: 500px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.header-content-btn {
  @media screen and (max-width: 500px) {
    width: 100%;
    margin: 24px 0 0 0;
  }
}

.header-content__price {
  display: flex;
  align-items: center;
  margin: 0 0 0 24px;

  @media screen and (max-width: 500px) {
    margin: 0;
  }
}

.header-content__price {
  display: flex;
  align-items: center;

  &-value {
    font-size: 52px;
    font-weight: 700;

    @media screen and (max-width: 1250px) {
      font-size: 38px;
    }

    @media screen and (max-width: 1000px) {
      min-width: 125px;
      width: 125px;
      font-size: 32px;
    }

    @media screen and (max-width: 500px) {
      min-width: auto;
      width: auto;
      font-size: 48px;
    }

    @media screen and (max-width: 346px) {
      font-size: 42px;
    }
  }

  &-correction {
    margin: 0 0 0 24px;

    @media screen and (max-width: 1010px) {
      font-size: 14px;
    }

    & span {
      opacity: .7;
    }
  }
}

.header-content-img {
  max-width: 650px;
  width: 100%;
  margin: 0 0 0 52px;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
  }

  &-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-60%);
    width: 320px;
    height: 320px;
    border-radius: 200px;
    background: #fff;
    z-index: -1;
    filter: blur(120px);
  }

  @media screen and (max-width: 860px) {
    max-width: 400px;
    margin: 0;
  }
}

.header-content-bg_text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(1100px,-50%);
  pointer-events: none;

  & div:not(:last-child) {
    margin: 0 910px 0 0;
  }

  & div {
    width: 1928px;
    height: 326px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 1500px) {
    transform: translate(1300px,-50%);
  }

  @media screen and (max-width: 1200px) {
    transform: translate(600px,-50%);

    & div {
      width: 1300px;
    }
  }

  @media screen and (max-width: 900px) {
    transform: translate(500px,-50%);

    & div {
      width: 1100px;
    }
  }

  @media screen and (max-width: 860px) {
    transform: translate(500px,-100%);

    & div {
      width: 1100px;
    }
  }

  @media screen and (max-width: 600px) {
    transform: translate(600px,-100%);
  }

  @media screen and (max-width: 500px) {
    transform: translate(400px,-120%);

    & div {
      width: 800px;
    }

    & svg path {
      stroke-opacity: 1;
    }
  }
}