.header-content {
  width: 100%;
}

.header-content__body {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 4;
}

.header-content__info {
  max-width: 590px;
  width: 100%;
  color: #fff;
}

.header-content-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}

.header-content-text {
  margin: 24px 0 0 0;
  line-height: 160%;
}

.header-content__rent {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;
}

.header-content__price {
  display: flex;
  align-items: center;
  margin: 0 0 0 24px;
}

.header-content__price {
  display: flex;
  align-items: center;

  &-value {
    font-size: 52px;
    font-weight: 700;
  }

  &-correction {
    margin: 0 0 0 24px;

    & span {
      opacity: .7;
    }
  }
}

.header-content-img {
  max-width: 650px;
  width: 100%;
  margin: 0 0 0 52px;
  position: relative;
  // background: url('../img/scooters/main_scooter_shadow.png') no-repeat;
  // background-position: 30% 30%;
  // background-size: 700px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
  }

  &-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-60%);
    width: 320px;
    height: 320px;
    border-radius: 200px;
    background: #fff;
    z-index: -1;
    filter: blur(120px);
  }
}

.header-content-bg_text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(1100px,-50%);
  pointer-events: none;
  & div:not(:last-child) {
    margin: 0 910px 0 0;
  }
  
}